@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', serif;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
    display: none;
}

a {
  @apply text-blue-600 underline hover:text-blue-800;
}
